<%= render "nav" %>
<div class="container" style="margin-top: 2rem">

  <%= link_to new_article_path do %>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">New article</button>
  <% end %>

  <br><br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody> 
      <% @articles.each do |article| %>
        <tr>
          <td>
              <%= link_to article.title, article %>
          </td>
          <td>    
            <%= link_to edit_article_path(article.id) do %>
              <span class="btn btn-outline-light" style='font-size:40px;'>&#128221;</span>
            <% end %>
          </td>
          <td>
            <%= link_to article_path(article.id),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <span class="btn btn-outline-light" style='font-size:40px;'>&#128465;</span>
            <% end %>

            
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>






  
  





