<%= render "nav" %>
<div class="container">

  <div class="card" style="width: 30rem; min-width: 30rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @article.title %></h5>
      <p class="card-text"><%= @article.body %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= render @article.comments %></li>
    </ul>
    
  </div>

</div>




<div style = "text-align: center; background-color: #ECECEC;margin-right: 400px;margin-left: 400px;padding: 1rem">
 

  
  
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>
<br>

<div style = "background-color: #ECECEC; margin-right: 400px;margin-left: 400px;padding: 1rem">
  <ul>
    <li><button type="button"><%= link_to "Back", articles_path %></button> </li>
  </ul>

  <ul>
    <li><button type="button"><%= link_to "Edit", edit_article_path(@article) %></button></li><br>
    <li><button type="button">
      <%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></button></li>
  </ul>
</div>

  