<%= render "nav" %>
<div class="container">
  <div style = "margin-left: 85%;padding: 1rem; max-width: 50rem">
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add comment
    </button>

    <%= render 'comments/form' %>
  </div>
  
  <div class="card" style="max-width: 90rem; min-width: 30rem;">
    <div class="card-body">
      <h5 class="card-title"><%= @article.title %></h5>
      <p class="card-text"><%= @article.body %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= render @article.comments %></li>
    </ul>
  </div>
</div>
<br><br><br><br><br><br>


<div style = "background-color: #ECECEC; margin-right: 400px;margin-left: 400px;padding: 1rem">
  <ul>
    <li><button type="button"><%= link_to "Back", articles_path %></button> </li>
  </ul>

  <ul>
    <li><button type="button"><%= link_to "Edit", edit_article_path(@article) %></button></li><br>
    <li><button type="button">
      <%= link_to "Destroy", article_path(@article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></button></li>
  </ul>
</div>

  