<%= form_with(model: user) do |form| %>
  <div class="login-wrap" style="margin-top: 5%">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <%= form.label :email, class: 'label' %>
            <%= form.text_field :email, class: 'input' %>
          </div>
          <div class="group">
            <%= form.label :password, class: 'label' %>
            <%= form.password_field :password, class: 'input' %>
          </div>
          <div class="group">
            <%= form.label :password_confirmation, class: 'label' %>
            <%= form.password_field :password_confirmation, class: 'input' %>
          </div>
          
          
          <div class="group">
            <input type="submit" class="button" value="Sign In">
          </div>
          <div class="group">
            <%= link_to 'Back', articles_path, class: 'button', style: 'text-align: center' %>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk" style="margin-top: -8%; color:white">
            <% if user.errors.any? %>
              <div id="error_explanation">
                <p><%= pluralize(user.errors.count, "error") %> <a>prohibited this user from being saved:</a></p>
                <ul>
                  <% user.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
<% end %>


  

          